<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/dataTables.bootstrap.min.css">

    <style>
        .left-div {
            margin-top: 27px;
        }

        .login-icon {
            height: 60px;
            width: 60px;
            padding: 11px;
            border-radius: 50%;
            font-size: 30px;
            color: #fff;
            text-align: center;
            background-color: #F0677C;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }

        #admin-responsive {
            background-color: white;
            padding: 10px 10px 1px 10px;
        }

        #responsive {
            background-color: white;
            padding: 10px;
        }

        #myNavBrand {
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 20px;
            text-align: center;
            font-family: monospace;
        }

        .navbar-toggle {
            background-color: #FFF;
        }

        #headerNavBar {
            background-color: #C36464;
        }
    </style>

</head>
<body style="background-color: #f2f2f2">
    <div class="navbar navbar-fixed-top" id="headerNavBar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ogbomoso Prison", "Index", "Role", new { area = "" }, new { @class = "navbar-brand", id = "myNavBrand" })
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-3">
                <div class="navbar-collapse collapse">
                    <div id="admin-responsive">
                        <div class="alert alert-info text-center">
                            @*@{
                                HttpContext _context = HttpContext.Current;
                                var username = (string)(_context.Session["user_Name"]);
                                var firstName = (string)(_context.Session["first_Name"]);

                                var employeeId = (int)(_context.Session["employee_Id"]);
                                if (username == null && employeeId == null)
                                {
                                    ViewBag.Registration = null;
                                    ViewBag.ApplicantId = null;
                                    Response.Redirect("Home/Index");
                                }
                                else
                                {
                                    ViewBag.Registration = username;
                                    ViewBag.ApplicantId = employeeId;
                                    ViewBag.Name = firstName;
                                }
                            }*@
                            <span class="glyphicon glyphicon-user"></span> Welcome: Admin
                            @*<p>Registration No: @ViewBag.Registration</p>*@
                            <p><span class="glyphicon glyphicon-calendar"></span>@DateTime.Now.Date.ToLongDateString()</p>
                        </div>
                    </div>
                    <div id="admin-responsive">
                        <ul class="nav nav-pills nav-stacked">

                            <li>
                                <a href="/Role/Index"><span class="glyphicon glyphicon-user"></span>&nbsp;Role Manager</a>
                            </li>
                           
                            <li>
                                <a href="/Crime/Create"><span class="glyphicon glyphicon-cloud"></span>&nbsp; Add Crime</a>
                            </li>
                            <li>
                                <a href="/Crime/Index"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp; Crime List</a>
                            </li>

                            <li>
                                <a href="/Qualification/Create"><span class="glyphicon glyphicon-briefcase"></span>&nbsp; Add Qualification</a>
                            </li>

                            <li>
                                <a href="/Qualification/Index"><span class="glyphicon glyphicon-list"></span>&nbsp;Qualification List</a>
                            </li>

                            <li>
                                <a href="/Prisoner/ViewAllPrisoners"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp; View Prisoners</a>
                            </li>

                         
                           
                           

                            @*@*<li>
                                <a href="/Prisoner/ViewPrisoners"><span class="glyphicon glyphicon-briefcase"></span>&nbsp; View Prisoner</a>
                            </li>

                            <li>
                                <a href="/Applicant/Venue"><span class="glyphicon glyphicon-home"></span>&nbsp;Add Prisoner To Training</a>
                            </li>
                            <li>
                                <a href="/Job/ViewJobList"><span class="glyphicon glyphicon-paperclip"></span>&nbsp; View Training</a>
                            </li>

                            <li>
                                <a href="/Job/MyApplicationHistory"><span class="glyphicon glyphicon-briefcase"></span>&nbsp; Transfer Prisoner</a>
                            </li>

                            <li>
                                <a href="/Applicant/Venue"><span class="glyphicon glyphicon-home"></span>&nbsp;View Transfer History</a>
                            </li>*@
                            <li>
                                <a href="/Home/Index"> <span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div id="responsive">
                            @RenderBody()
                            <br /><br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <footer class="navbar navbar-fixed-bottom" style="background-color: #C36464; border-radius: 0">
        <p class="text-center" style="color: #FFFFFF; padding-top: 15px;">&copy; @DateTime.Now.Year PMS</p>
    </footer>



    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#zctb').DataTable();
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
